<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster&display=swap" rel="stylesheet">
<div class="container">
  <div class="jumbotron">
    <h1 style="font-family: 'EB Garamond', serif;" class="quote">Quotes Hub</h1>

    <hr>
    <div class="row">
      <div class="col-md-6">
        <app-quotes-form (addQuote)='newQuote($event)'></app-quotes-form>
      </div>
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <h4 style=" margin-top:  5%;" id="{{i}}" appStrikethrough>{{quote.name}} wrote this quote on {{quote.completeDate|date|lowercase}}</h4>

          <button (click)='toggleDetails(i)'
            style="margin-left: 30%; margin-top: 2%; background-color:rgb(233, 73, 212);border-radius: 12px;;">toggleDetails</button>

          <div *ngIf="quote.showDeScription">
            <app-quotes-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quotes-detail>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
