<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Jura|Niconne|Russo+One|Viga" rel="stylesheet">
<div class="card">
  <div class="card-body">

    <h2 style="font-family: 'Viga', sans-serif;">{{quote.description}}</h2>

    <h3 style="font-family: 'Niconne', cursive;">Written {{quote.completeDate|dateCount}} days ago.</h3>

    <button class="btn-btn-like" (click)='voteUp()' type="submit"><span class="button">{{upvote}} Likes</span></button>
    
    <button class="btn-btn-dislike" (click)='voteDown()' type="submit"><span class="button">{{downvote}}
        Dislikes</span></button>

    <button (click)='quoteDelete(true)'
      style="margin-left: 30%; margin-top: 2%; background-color:rgb(241, 94, 94); border-radius:12px;">Delete
      Quote</button>

  </div>
</div>
